<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>My Express App</title>
   </head>
   <body>
      <h1>Welcome to My Express App</h1>
      <p>This is a sample EJS view.</p>
   </body>
</html>
